# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Playwright
test-results/
playwright-report/
blob-report/

# Reports
allure-results/
allure-report/

# Screenshots
screenshots/

# Logs
logs/
*.log

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db